body, html {
    height: 100%;
    font-family: "Trebuchet MS"
}

.body-container {
    background-image: url(../images/parchment.jpg);
        
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.player {
    height: 150px;
    width: 150px;
    border: solid 1px black;
    display: inline-block;
}

.area {
    border: solid 1px black;
    min-height: 40px;
}

#dead {
    display: none;
}